<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindServlet</display-name>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>controller.FindServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAddrServlet</display-name>
    <servlet-name>FindAddrServlet</servlet-name>
    <servlet-class>controller.FindAddrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAddrServlet</servlet-name>
    <url-pattern>/FindAddr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet2</display-name>
    <servlet-name>RedirectServlet2</servlet-name>
    <servlet-class>servlet.direct.RedirectServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet2</servlet-name>
    <url-pattern>/Redirect2</url-pattern>
  </servlet-mapping>
</web-app>