<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description>ServletConfig를 이용해서 Container 차원의 정보를 받아옴</description>
    <display-name>ServletConfig1</display-name>
    <servlet-name>ServletConfig1</servlet-name>
    <servlet-class>servlet.config.ServletConfig1</servlet-class>
    <init-param>
      <param-name>NAME</param-name>
      <param-value>kosta</param-value>
    </init-param>
    <init-param>
      <param-name>ADDR</param-name>
      <param-value>Pangyo</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfig1</servlet-name>
    <url-pattern>/SC1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnGreetingServlet</servlet-name>
    <servlet-class>servlet.config.MultipleGreetingServlet</servlet-class>
    <init-param>
      <param-name>greeting</param-name>
      <param-value>Welcome!</param-value>
    </init-param>                                                                         
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnGreetingServlet</servlet-name>
    <url-pattern>/EnGreet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FrGreetingServlet</servlet-name>
    <servlet-class>servlet.config.MultipleGreetingServlet</servlet-class>
    <init-param>
      <param-name>greeting</param-name>
      <param-value>Bonjour!</param-value>
    </init-param>             
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrGreetingServlet</servlet-name>
    <url-pattern>/FrGreet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItGreetingServlet</servlet-name>
    <servlet-class>servlet.config.MultipleGreetingServlet</servlet-class>
    <init-param>
      <param-name>greeting</param-name>
      <param-value>Ciao!</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItGreetingServlet</servlet-name>
    <url-pattern>/ItGreet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>UsingConfigServlet</servlet-name>
    <servlet-class>servlet.config.UsingConfigServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>path</param-name>
      <param-value>c:\\config\\countlog.txt</param-value>
    </init-param>                                                                              
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsingConfigServlet</servlet-name>
    <url-pattern>/UsingConfig</url-pattern>
  </servlet-mapping>
</web-app>