<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web03_HttpServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloHttpServlet</display-name>
    <servlet-name>HelloHttpServlet</servlet-name>
    <servlet-class>web.servlet.HelloHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloHttpServlet</servlet-name>
    <url-pattern>/HelloHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServletForm</display-name>
    <servlet-name>MyServletForm</servlet-name>
    <servlet-class>web.servlet.MyServletForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletForm</servlet-name>
    <url-pattern>/MSF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInputServlet</display-name>
    <servlet-name>MyInputServlet</servlet-name>
    <servlet-class>web.servlet.MyInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInputServlet</servlet-name>
    <url-pattern>/MIS</url-pattern>
  </servlet-mapping>
</web-app>